@import "../../global";

.custom-field{
  width:470px;
  border:1px solid #e9e8e8;
  border-radius: 7px;
  padding: 21px 10px 20px 14px;
  margin-top: 6px;
  margin-bottom: 8px;
  outline:none;
  transition: 0.25s;
  font-size: 14px;
}
.field-width{
  width:97%;
}
.custom-field:focus,
.custom-field:active {
  box-shadow: 0 0 1.1pt 1.1pt #4E74F5;
}
.custom-field::placeholder {
  color: #d3d3d3;
}
.auth-blue-link-forgot {
  width:100%;
  margin-top: 22px;
  text-align: center;
}
@media screen and (max-width:570px) {
  .auth-blue-link {
    width:95%;
  }
}
.error {
  color:red;
  padding-left: 10px;
}
.red-borders {
  border:1px solid red;
}
.auth-blue-link-btn {
  @extend .blue-button;
  margin-top:18px;
  margin-bottom:24px;
  width: 512px;
  height: 64px;
  transition:0.25s;
}
.auth-blue-link-btn:hover {
  cursor: pointer;
  background: lighten($blue-btn-background, 10%);
}
button {
  border:0;
  background:transparent;
  width: 100%;
  height:60px;
  margin-bottom: 27px;
  display:flex;
  outline:none;
  justify-content: center;
  font-size:16px;
}

@media screen and (max-width: 570px) {
  .custom-field {
    width:80%;
  }
  .auth-blue-link-btn {
    width:96%;
  }
}
