.header-blue-link {
  margin-right:54px;
}
.header-blue-link-btn {
  margin-right:54px;
}
.header-exit-grey {
  margin:37px 54px 0 0;
}

@media screen and (max-width: 570px) {
  .header {
    padding : 15px 20px 5px 20px;
  }
  .header-blue-link-btn {
    margin-right:10px;
    margin-top:16px;
  }
  .blue-link-btn {
    width:113px;
    height:40px;
  }
  .header-exit-grey {
    margin: 18px 24px 0 0;
  }
}
