@import "./../../global";

.btn-width {
  width:250px;
}
.cancel-wrapper {
  margin-top:24px;
}
.forgot-email-field {
  width:425px;
}
.forgot-blue-link-btn {
  @extend .blue-link-btn;
  background: $blue-btn-background;
  transition: 0.25s;
  padding-top:22px;
  color:white;
  text-decoration-line: none;
  font-weight: bold;
  height:42px;
  margin-top:20px;
  border-radius: 45px;
  width:418px;
}
.forgot-blue-link-btn:hover {
  cursor: pointer;
  background: lighten($blue-btn-background, 10%);
}
.cancel-wrapper-underbtn {
  margin-top:16px;
}
@media screen and (max-width:570px) {
  .cancel-wrapper {
    margin-top:30px;
  }
  .forgot-blue-link-btn {
    height:36px;
    padding-top:20px;
    width:343px;
  }
}
