// font-family
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

$blue-btn-background: #4E74F5;

.blue-button {
  display:flex;
  justify-content: center;
  flex-direction: column;
  background: $blue-btn-background;
  border-radius: 100px;
  width : 170px;
  height : 51px;
  min-height: 40px;
  color:white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  letter-spacing: 0.02em;
  a {
    text-decoration-line: none;
    color:white;
  }
}

.space-between {
  display:flex;
  justify-content: space-between;
}

.center-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.row {
  display:flex;
  flex-direction: row;
}

.column {
  display:flex;
  flex-direction: column;
}

.center{
  display:flex;
  justify-content: center;
}

.big-title {
  font-size:54px;
  font-weight:500;
}
.medium-title {
  font-size:40px;
  font-weight: 500;
}
.w100 {
  width:100%;
}
.space-right {
  padding-right:8px;
}

.flex-wrap {
  flex-wrap: wrap;
}
.text-center {
  text-align: center;
}
